.cssForm {
    width: 100%;
    margin: 0px auto;
    max-width: 540px;
    padding: 40px 0px 0px 0px;
}

.errorSpan {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #ee4055;
    min-height: 25px;
    padding-bottom: 3px;
}

.descriptionSpan {
    color: #bca39e;
    min-height: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    min-height: 25px;
    padding-bottom: 3px;
}

.hoverIcon:hover,
.hoverIcon:focus {
    cursor: pointer;
    opacity: 1;
}

.hoverIcon {
    text-align: center;
    opacity: 0.5;
}

.bigIcon {
    font-size: 1.5em;
}