# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# /.env
fronted/node_modules

# dependencies
backend/node_modules


# .env

/node_modules
node_modules/

backend/package-lock.json.