.divRecipe {
    display: block;
    -webkit-box-align: center;
    align-items: center;
    padding: 40px;

}

.upRecipe {
    border-top: none;
    display: flex;
    padding-bottom: 32px;
}

.imageRecipe {
    width: 400px;
    margin: 0px 16px 16px;
    display: flex;
    flex-direction: column;
    margin: 0px 40px 0px 0px;
    min-height: 220px;
}




/* .immm {
    margin-bottom: 0px;
    min-height: 220px;
    height: 100%;
    width: 100%;
    position: relative;
} */


.im {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.titleAndDescription {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-width: 0px;
}

.mm-5 {
    max-width: 540px;
}

.maxW {
    max-width: 540px;
}

.borderRadius {
    border-radius: 10px;
}

.bgFreeOf {
    background-color: #f6ff4f;
}

.bgPreparation {
    background-color: #F2F2F2;
}