.divBackground {
  background-color: #F7FAFC;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 60px;
  min-height: 700px;
}

.backgroundInDiv {
  background-color: #fff;
  box-shadow: rgb(79 79 106 / 6%) 0px 0px 12px;
  border-radius: 12px;
  padding-top: 25px;
  margin: 35px auto 0px;
  flex: 1 0 auto;
  max-width: 960px;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  /* padding-bottom: 100px; */
}